/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --clr-main:rgb(195, 0, 0);
  --clr-gray: #aaa;
  --clr1: black;
  --clr2: white;

  --clr-red: rgb(253, 50, 50);
  --clr-gold: rgb(255, 217, 0);

  /* font sizes */
  --fnt-sml: .5rem;
  --fnt-m: 1rem;
  --fnt-l: 2rem;
  --fnt-xl: 2.5rem;
  --fnt-xxl: 4rem;
}

/* Base layout */
body {

  padding: 2px;
  font-family: Arial, sans-serif;
  background: var(--clr1);
  color: var(--clr2);
  
}

/* Navigation */


nav {
  background-color: var(--clr2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

nav div {
  padding: 25px;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: right;
  flex-wrap: wrap;
}

nav a {
  color: var(--clr1);
  text-decoration: none;
  font-size: 14px;
}

nav a:hover {
  color: var(--clr-main);
  transition: transform 0.2s ease;
}

.nav-logo {
  background-image: url('../assets/images/logos/Logo_r.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 150px;
}

/* hero */
.hero {
  background-image: url('../assets/images/mabanaHands.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: fill;
  width: 100%;
  height: auto;
}


/* Section spacing */
section {
  padding: 60px 20px;
}
/* section */
.artists-section {

    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

  background-color: var(--clr2);
}



/* Cards */
.card {
  width: 90%;
  background-color: var(--clr-gold);
  text-align: center;
  border-radius: 15%;
}

/* Artist layout */
.artists {
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    border-radius: 25px;


}

.genre,
.description {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: var(--clr1);
}

/* Que */
.que-img {
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url('../assets/images/Que.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 400px;

  background-color: var(--clr2);
  border-radius: 25%;

}

/* Grid layout */
.grid {
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
    padding: 20px;
}

/* Social links container */
.social-links {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.social-links i {
  justify-content: center;
  align-items: center;
}

/* Social icon links */
.social-links a {
  color: var(--clr-main);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  width: 100px;
  height: 100px;
  transition: transform 0.2s ease;
}

/* Images inside links */
.social-links a img {
  width: 100%;
  height: 100%;
  align-items: center;
  object-fit: contain;
}

.audiomack_logo {
  background-image: url('../assets/images/logos/socials/audiomack.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 30%;
  height: 30%;
}


/* Hover effect */
.social-links a:hover {
  transform: scale(1.1);
}
/* image for bio */
.card-img {
  width: 50%;
  height: 90%;
  border-radius: 25%;

}

/* 
 * media page 
 * media-font 
 */
.media-font {
  text-align: center;
  color: var(--clr-main);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: var(--fnt-xl);
}

.media-font2 {
  text-align: center;
  color: var(--clr1);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: var(--fnt-xxl);
}
/* sec-contact */
.sec-contact {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;

 font-size: var(--fnt-xl);


}

.sec-div-logo {
  background-image: url('../assets/images/logos/Logo_r.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 40%;
  height: 200px;
}

.sec-aboutus {
  width: 60%;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

/* socials contact */
.socials-con {
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-red);
}

.socials-con a {
  color: var(--clr1);

}

.socials-con a:hover {
  color: var(--clr2);
  transition: transform 0.2s ease;

}
/* Social links */
.socials_links_con {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}



/* Footer */
footer {

  margin-top: 10vh;
    position: fixed;
    bottom: 0;
  background: var(--clr2);
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 13px;
  width: 100%;
  color: var(--clr1);
  gap: 3rem;
}

/* Footers 
 * 
 * @adds on */
.date-footer {
  color: var(--clr1);
}
.designby {
  background-image: url('../assets/images/logos/Logo_r.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  width: 50px;
  height: 50px;
  /* background-color: red; */

}


/* 
 * Responsiveness
 * 
 */

 /* Large screens */
 
@media (width < 500px) {
  nav {
    font-size: var(--fnt-xxl);
  }
  .sec-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sec-aboutus {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--clr1);

    width: 100%;
    height: 100%;
  }

  .sec-aboutus.h1 {
    color: var(--clr-main);
  }
  
  .socials-con {
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}